@import "../../less/colors.less";
home{
	.banner {

	}
	.smallbanner {
		ul {
			li {
				float:left;
				width:323px;
				height:115px;
				background-color:#fff;
				margin-right:30px;
				padding:10px;
				.smbanner-left {
					float:left;
				}
				.smbanner-right {
					float:left;
					width:208px;
					padding-left:10px;
					.sm-title {
						font-size:16px;
						font-weight:bold;
						color:#606060;
						margin-bottom:10px;
					}
					.sm-text {
						font-size: 12px;
						line-height: 20px;
						color:#767676;
					}
				}
			}
		}
	}
}
	