<img class="main-logo" src="./image/companyList/guanyu_02.png">
<big-title data="bigTitle"></big-title>
<div class="wrap">
	<left-menu data='menuList' index='menuIndex'></left-menu>
	<div class="main">
		<path data='pills'></path>
		<div class="title title-member">
			<div class="en">MEMBERS</div>
			<div class="cn">
				<span>成员</span><span class="green">公司</span>
			</div>
		</div>
		<div class="list">
			<div class="item">
				<div class="logo">
					<img src="./image/companyList/chengyuan_03.png">
				</div>
				<div class="text">
					浙江绿浪信息技术有限公司(绿浪视觉)是国内电商视觉的领导者,是天猫金牌淘搭档,腾讯全国十佳服务商,也是京东商城,苏宁易购的官方合作伙伴.绿浪视觉打破传统摄影行业格局,借助互联网大数据理念,从产业源头革新,用摄影智能化代替人工;用视觉标准化快速完成电商产品数字化;用产品数据化补充传统供应链.
				</div>
			</div>
			<div class="item">
				<div class="logo">
					<img src="./image/companyList/chengyuan_07.png">
				</div>
				<div class="text">
					零猫商品数据服务交易平台,是中国唯一一家基于商品数据提供服务与进行交易的大数据平台.零猫致力于建设国内质量最高的商品数据池的大数据平台,为传统零售行业电商化进行中的商品数字化问题提供有效解决方案的数据服务公司.
				</div>
			</div>
			<div class="item">
				<div class="logo">
					<img src="./image/companyList/chengyuan_11.png">
				</div>
				<div class="text">
					嘉兴云图信息科技有限公司是绿浪视觉旗下科技型公司,云图通过SaaS的架构设计,继承了电商图像采集,图像优化,图像编辑,图像应用等多项技术.从本质上说云图是电子商务图像的一揽子解决方案,从摄影,美工,设计,模特,卖家等方面,通过云技术的手段提供商品图片标准化处理,模版交互,虚拟模特等智能化数字服务,大大改变行业"全人工"的现状.
				</div>
			</div>
			<div class="item">
				<div class="logo">
					<img src="./image/companyList/chengyuan_15.png">
				</div>
				<div class="text">
					"掌心-互动"是一款基于微信公众平台的一站式营销系统,是新一代移动互联网营销整体解决方案,掌心-互动利用微信本身具备的强大的O2O和高到达率功能特性,把企业的产品展示,客户关系维护和营销嫁接到微信公众平台上,协助品牌借助在移动互联网开疆拓土.
				</div>
			</div>
			<div class="item">
				<div class="logo">
					<img src="./image/companyList/chengyuan_18.png">
				</div>
				<div class="text">
					嘉兴东臣信息科技有限公司业务方向涉及云平台系统集成,移动互联网,物联网,应用软件开发等多领域,公司以为企业及政府客户提升IT核心能力为使命,以卓越的解决方案,对客户业务的深刻理解形成高效密集的服务交付网络.为配合嘉兴市政府大力发展服务外包产业的需要,东臣科技与世界最大的数据库软件公司Oracle合作,以专业的服务水准,先进的管理体系和丰富的市场资源,为中国企业和高校提供全方位值得信赖的整体外包服务,培训解决方案和先进实验室建设方案.
				</div>
			</div>
		</div>
		<div class="title title-branch">
			<div class="en">BRANCH</div>
			<div class="cn">
				<span>绿浪全国</span><span class="green">分公司</span>
			</div>
		</div>
		<div class="map-list box">
			<table>
				<tr>
					<td class="first">上海分公司</td>
					<td class="second mapname" ng-click="map('shlm')" ng-class="{'greenbg':currComp=='shlm'}">上海零猫信息技术有限公司</td>
				</tr>
				<tr>
					<td class="first">杭州分公司</td>
					<td class="mapname" ng-click="map('hzll')">杭州绿浪网络科技有限公司</td>
				</tr>
				<tr>
					<td rowspan="5" class="first">嘉兴总公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td ng-click="map('zjll')" ng-class="{'greenbg':currComp=='zjll'}">浙江绿浪信息技术有限公司&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<td ng-click="map('jxzx')" ng-class="{'greenbg':currComp=='jxzx'}">嘉兴掌心通讯科技有限公司</td>
				</tr>
				<tr>
					<td ng-click="map('jxyt')" ng-class="{'greenbg':currComp=='jxyt'}">嘉兴云图信息科技有限公司</td>
				</tr>
				<tr>
					<td ng-click="map('jxdc')" ng-class="{'greenbg':currComp=='jxdc'}">嘉兴东臣信息科技有限公司</td>
				</tr>
				<tr>
					<td ng-click="map('jxdr')" ng-class="{'greenbg':currComp=='jxdr'}">嘉兴东软软件培训学校</td>
				</tr>
				<tr>
					<td class="first">南京分公司</td>
					<td ng-click="map('njzx')" ng-class="{'greenbg':currComp=='njzx'}">南京掌心文化传媒有限公司</td>
				</tr>
				<tr>
					<td class="first">台州分公司</td>
					<td ng-click="map('tzxx')" ng-class="{'greenbg':currComp=='tzxx'}">台州星星绿浪信息技术有限公司</td>
				</tr>
				<tr>
					<td class="first">北京分公司</td>
					<td ng-click="map('bjbsc')" ng-class="{'greenbg':currComp=='bjbsc'}">北京办事处</td>
				</tr>
			</table>
			<div class="map">
				<div id="mapCanvas" class="graph"></div>
				<div class="text">
					<div>电话:&nbsp;&nbsp;400-000-9411</div>
					<div>地址:&nbsp;&nbsp;浙江省嘉兴市昌盛南路36号嘉兴智慧产业创新园1号楼6楼</div>

				</div>
			</div>
		</div>
	</div>
	
</div>			


	