<div class="banner">
	<img src="../../image/home/banner_01.png">
	<!-- <ul class="imgbox">
		<li>
			<img src="../../image/home/banner_01.png" id="showpic">
		</li>
		<li>
			<img src="../../image/home/banner_02.png">
		</li>
		<li>
			<img src="../../image/home/banner_03.png">
		</li>
		<li>
			<img src="../../image/home/banner_04.png">
		</li>
	</ul> -->
	<div class="smallbanner">
		<ul>
			<li>
				<div class="smbanner-left">
					<img src="../../image/home/smallbanner_01.png">
				</div>
				<div class="smbanner-right">
					<p class="sm-title">商品数据制作</p>
					<div class="sm-text">成本最优化，商品信息有序化，项目实施专业化.</div>
				</div>
			</li>
			<li>
				<div class="smbanner-left">
					<img src="../../image/home/smallbanner_02.png">
				</div>
				<div class="smbanner-right">
					<p class="sm-title">商品数据管理</p>
					<div class="sm-text">权限管理，多格式管理，参数更新，包装更新.</div>
				</div>
			</li>
			<li>
				<div class="smbanner-left">
					<img src="../../image/home/smallbanner_03.png">
				</div>
				<div class="smbanner-right">
					<p class="sm-title">商品数据一键同步</p>
					<div class="sm-text">只需一键，快速将数字商品更新至多平台.</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<big-title data="bigTitle" class="title-pos"></big-title>
<div class="company-news">
	<div class="news-info">
		<p class="en">COMPANY NEWS</p>
		<div class="cn">
			<ul>
				<li class="line"></li>
				<li class="news-title">公司<span>新闻</span></li>
				<li class="line"></li>
			</ul>
		</div>
		<div class="bott-text">开启数字商品新连接</div>
	</div>
	<div class="company-news-text">
		<div class="left-text">Company News</div>
		<div class="shadow"></div>
	</div>
	<div class="news-img">
		<ul>
			<li>
				<div class="img-box">
					<img src="../../image/home/公司动态.png">
				</div>
				<div class="img-cn-text">公司动态</div>
				<div class="img-en-text">GROUP NEWS</div>
			</li>
			<li>
				<div class="img-box">
					<img src="../../image/home/行业动态.jpg">
				</div>
				<div class="img-cn-text">行业动态</div>
				<div class="img-en-text">INDUSTRY NEWS</div>
			</li>
			<li>
				<div class="img-box">
					<img src="../../image/home/媒体报道.png">
				</div>
				<div class="img-cn-text">媒体报道</div>
				<div class="img-en-text"> MEDIA</div>
			</li>
			<li class="no-mar-right">
				<div class="img-box">
					<img src="../../image/home/业务动态.jpg">
				</div>
				<div class="img-cn-text">业务动态</div>
				<div class="img-en-text">BUSINESS NEWS</div>
			</li>
		</ul>
	</div>
	<div class="news-date">
		<div class="near-news">
			<div class="news-text">近期新闻</div>
			<div class="news-box" ng-init="showIndex=0">
				<ul>
					<li ng-class="{'current':showIndex==0}" ng-click="showIndex=0">2015年10月新闻</li>
					<li ng-class="{'current':showIndex==1}" ng-click="showIndex=1">2015年09月新闻</li>
					<li ng-class="{'current':showIndex==2}" ng-click="showIndex=2" class="no-border-right">2015年08月新闻</li>
				</ul>
				<div class="news-detail" ng-show="showIndex==0" ng-bind-html="newsMonthsData[0].pContent" ng-click="linkToNewsDetail(newsMonthsData[0].id)"></div>
				<div class="news-detail" ng-show="showIndex==1" ng-bind-html="newsMonthsData[1].pContent" ng-click="linkToNewsDetail(newsMonthsData[1].id)"></div>
				<div class="news-detail" ng-show="showIndex==2" ng-bind-html="newsMonthsData[2].pContent" ng-click="linkToNewsDetail(newsMonthsData[2].id)"></div>
			</div>
		</div>
		<div class="all-news">
			<div class="news-text ">所有新闻</div>
			<ul>
				<li ng-repeat="d in newsListData">
					<i class="point"></i>
					<span class="news-dis" ng-click="linkToNewsDetail(d.id)">{{d.title}}</span>
					<span class="date">{{d.pTime}}</span>
				</li>
			</ul>
		</div> 
	</div>
	<div class="num-connect">
		<div class="lvlang-title">
			<span class="company-name">绿浪</span>
			-开启数字商品新连接 
		</div>
		<div class="line-box">
			<ul class="connect-line">
				<li class="line"></li>
				<li class="sm-box"></li>
				<li class="line"></li>
			</ul>
		</div>
		<div class="connect-text">我们致力于建设国内质量最高的商品数据池的大数据平台。
我们为传统零售行业电商化进程中的商品数字化问题提供有效解决方案的数据服务交易。
		</div>
	</div>
</div>
<div class="assets">
	<div class="assets-img">
		<ul>
			<li class="assets-left">
				<img src="../../image/home/middle_01.png">
			</li>
			<li class="assets-right">
				<img src="../../image/home/middle_02.png">
			</li>
			<div class="assets-text">
				<div class="assets-text-box">
					<p>数字用户是资产</p>
					<div class="assets-text-bold">数字商品更是资产</div>
				</div>
				<div class="assets-text-box right">
					<p>数据即资产</p>
					<div class="assets-text-bold">不用即贬值</div>
				</div>
			</div>	
		</ul>
	</div>
</div>
<div class="shadow-strip">
<!-- 	<img src="../../image/home/slash.png">-->
</div>
<div class="company-news">
	<div class="news-info">
		<p class="en">CORPORATE VIDEO</p>
		<div class="cn">
			<ul>
				<li class="line"></li>
				<li class="news-title">公司<span>视频</span></li>
				<li class="line"></li>
			</ul>
		</div>
		<div class="bott-text">开启数字商品新连接</div>
	</div>
	<div class="video-list">
		<video src="../../video/supplier.mp4" controls="controls" autoplay="true" loop="true" ng-show="showImgIndex==0"></video>
		<video src="../../video/retailers.mp4" controls="controls" autoplay="true" loop="true" ng-show="showImgIndex==1"></video>
		<video src="../../video/jiaxing.mp4" controls="controls" autoplay="true" loop="true" ng-show="showImgIndex==2"></video>
		<video src="../../video/taizhou.mp4" controls="controls" autoplay="true" loop="true" ng-show="showImgIndex==3"></video>
	</div>
	<!-- <div class="lvlang-info">
		<div class="lvlang-title">浙江绿浪信息技术有限公司</div>
		<div class="lvlang-text">浙江绿浪信息技术有限公司（绿浪视觉）是国内电商视觉的引导者，是天猫金牌淘拍档，腾讯全国十佳服务商，也是京东商城、苏宁易购的官方合作伙伴。绿浪视觉打破传统摄影行业格局，借助互联网大数据理念，从产业源头革新，用摄影智能化代替人工；用视觉标准化快速完成电商产品数字化；用产品数据化补充传统供应链</div>
	</div> -->
	<div class="company-news-text">
		<div class="left-text">Company Video</div>
		<div class="shadow"></div>
	</div>
	<div class="prompt-line">
		<ul>
			<li ng-class="{'current':showImgIndex==0}"></li>
			<li ng-class="{'current':showImgIndex==1}"></li>
			<li ng-class="{'current':showImgIndex==2}"></li>
			<li ng-class="{'current':showImgIndex==3}"></li>
		</ul>
	</div>
	<div class="news-img video-img" ng-init="showImgIndex=0">
		<ul>
			<li>
				<img ng-click="showImgIndex=0" src="../../image/home/video_01.png">
				<div class="bottom-text">零猫供应商篇</div>
			</li>
			<li>
				<img ng-click="showImgIndex=1" src="../../image/home/video_02.png">
				<div class="bottom-text">零猫零售商篇</div>
			</li>
			<li>
				<img ng-click="showImgIndex=2" src="../../image/home/video_03.png">
				<div class="bottom-text">绿浪嘉兴公司</div>
			</li>
			<li class="no-mar-right">
				<img ng-click="showImgIndex=3" src="../../image/home/video_04.png">
				<div class="bottom-text">绿浪台州公司</div>
			</li>
		</ul>
	</div>	
</div>
	